.md-logo {
    background-color: #f44336;
    text-align: center;
    margin: 0 auto;
}

.logo {
    max-width: 250px;
    max-width: 250px;
    height: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: solid;
    border-width: 1px;
    overflow: hidden;
    background-color: rgb(100, 100, 100);
    color: black;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active-page {
    background-color: #f44336;
}

.about-me {
    margin: auto;
    width: 100%;
    height: 100%;
}

.project-title {
    font-size: 18px;
}
